@media (max-width: 800px){
    .mclogo{
        display: none;
    }
    .header1{
        justify-content: center;
    }
    .input-group-text{
        width: 80px !important;
        font-size: 0.7em;
    }
    input[type="text"]::-webkit-input-placeholder{
        font-size: 0.7em;
    }
}
@media (min-width: 500px){
    #sendTextComplaint{
        display: none;
    }
}
#CENTERED,
.centered,
article > h1,
.complaintForm
{
    margin: 0 auto;
}
#LEFTTEXT,
.leftText
{
    text-align: left;
}
#CENTERTEXT,
.centerText,
.btn,
.content
{
    text-align: center;
}
#LIGHTGRAYTXT,
.lightGrayTxt,
.copyright
{
    color: lightgray;
}
#LIGHTGRAYBACKGROUND,
.lightGrayBackground,
.content
{
    background-color: lightgrey;
}
#BLACKTXT,
.blackTxt
{
    color: black;
}
#WHITETXT,
.whiteTxt,
.titleText,
article
{
    color: white;
}
#UNDERINE,
.underline,
article > h1
{
    width: min-content;
    margin-bottom: 3%;
    white-space: nowrap;
    border-bottom: 2px solid currentColor;
}
#TEXTINDENT,
.textIndent,
article > p
{
    text-indent: 2em;
}
#NOINDENT,
.noIndent
{
    text-indent: 0px;
}
#NODECORATION,
.noDecoration,
.linkHome:hover
{
    text-decoration: none;
}
#LGFONT,
.lgFont,
.headertext1,
.headertext3
{
    font-size: 1.5rem;
}
#XLFONT,
.xlFont,
.headertext2
{
    font-size: 2rem;
}
#BLACKBORDER,
.blackBorder,
.content,
header,
footer
{
    border: 3px solid black; 
}
#GREYBACKGROUND,
.greyBackground,
header,
footer
{
    background-color: rgb(28, 28, 28);
}
#IMAGESHADOW
.imageShadow,
.mcpdlogo,
.mclogo,
.mclogo
{
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}
#TEXTSHADOWLIGHT,
.textShadowLight,
article > h4,
article > h1,
article > p
{
    text-shadow: 1px 1px 1px black;
}
#TEXTSHADOWDARK,
.textShadowDark,
header
{
    text-shadow: 5px 5px 5px black;
}
#FULLWIDTH,
.fullWidth,
.content,
header
{
    width: 100%;
}
#WIDE,
.wide,
input[type="date"]
{
    width: 80%
 }
 #MINWIDTH,
 .minWidth
 {
     width: min-content;
     white-space: nowrap;
 }
#BOLDTXTLT,
.boldTxtLt,
.headertext1,
.headertext3,
input[type="submit"],
article > h1,
h4
{
    font-weight: 600;
}
#BOLDTXTHV,
.boldTxtHv,
.headertext2
{
    font-weight: 800;
}
#FLEX,
.flex,
header,
footer,
.titleText,
.container,
.checkList,
.headerLeft,
.content,
.escort,
.complaintForm,
.formRow,
.radioRow,
.submitRow,
.escortForm
{
    display: flex;
}
#FLEXROW,
.flexRow,
.container,
.checkList,
.headerLeft,
.formRow,
.submitRow,
header
{
    flex-direction: row;
}
#FLEXCOL,
.flexCol,
.titleText,
.content,
.complaintForm,
.radioRow,
footer,
.escortForm
{
    flex-direction: column;
}
#JUSTIFYLEFT,
.justifyLeft,
.checkList,
.radioRow
{
    justify-content: left;
}
#JUSTIFYEVEN,
.justifyEven,
.content,
.submitRow
{
    justify-content: space-evenly;
}
#JUSTIFYBETWEEN,
.justifyBetween,
.formRow,
header
{
    justify-content: space-between;
}
#JUSTIFYCENTER,
.justifyCenter,
.container,
.titleText,
footer
{
    justify-content: center;
}
#JUSTIFYSSTART,
.justifySStart,
h4
{
    justify-self: flex-start;
}
#ALIGNITEMSBASE,
.alignItemsBase,
.formRow,
.radioRow
{
    align-items: baseline;
}
#ALIGNITEMSCENTER,
.alignItemsCenter,
header,
footer
{
    align-items: center;
}
#FLEXWRAP,
.flexWrap,
.formRow,
.radioRow,
.submitRow,
.container,
.checkList,
.complaintForm
{
    flex-wrap: wrap;
}
#NOFLEXWRAP,
.noFlexWrap
{
    flex-wrap: nowrap;
}
#HPADDING,
.hPadding,
header
{
    padding: 0 8%;
}
#VPADDING,
.vPadding,
footer,
article
{
    padding: 5% 0;
}
#VMARGIN,
.vMargin,
.mclogo,
.copyright,
.radioRow,
input[type="text"],
article > h4,
article > h5,
textarea
{
    margin: 0.75em 0;
}
#RIGHTMARGIN,
.rightMargin,
input[type="checkbox"],
input[type="radio"]
{
    margin-right: .75em;
}
#LEFTMARGIN,
.leftMargin,
.checkList
{
    margin-left: 2em;
}
#NARROWCONTENT,
.narrowContent,
.content{
    max-width: 500px;
}
#WIDECONTENt,
.wideContent,
.complaintForm
{
    max-width: 1100px;
}
#MCPDLOGO,
.mcpdlogo
{
    width: 150px;
}
#MCLOGO,
.mclogo
{
    width: 250px;
}
body{
    color: black;
    background-color: #0d1431;
    font-family: "Texta-Regular",Helvetica,Arial,sans-serif;
}
hr{
    height: 1px;
    background-color: white;
}
article{
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 18px;
}
.container{
    padding-top: 1%;
    margin-bottom: 5%;
}
.checkItem{
    white-space: nowrap;
    width: 10em;
}
.content{
    height: min-content;
    border-radius: 1em;
    padding: 3%;
    margin: 1%;
    box-shadow: 5px 5px 5px black;
}
.submitRow > .btn{
    width: 60%;
    font-size: .6em;
    margin-top: 1em;
    box-shadow: 2px 2px 4px grey;
}
.input-group-text{
    width: 111px;
}