@media (max-width: 768px){
    .mcpdlogo{
        width: 100px !important;
    }
    .mclogo{
        display: none;
    }
    .headertext1,
    .headertext3
    {
        font-size: 1em !important;
    }
    .headertext2
    {
        font-size: 1.25em !important;
    }
    .header1{
        justify-content: center;
    }
    .btn{
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .content
    {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}
@media (min-width: 480px){
    #sendTextComplaint{
        display: none;
    }
    .emergency{
        display: none !important;
    }
}
#CENTERED,
.centered,
article > h1,
.emergency > h4,
.complaintForm
{
    margin-left: auto !important;
    margin-right: auto !important;
}
#CENTERTEXT,
.centerText{
    text-align: center;
}
#LIGHTGRAYTXT,
.lightGrayTxt,
.copyright
{
    color: lightgray;
}
#BLACKTXT,
.blackTxt
{
    color: black;
}
#WHITETXT,
.whiteTxt,
.titleText,
article
{
    color: white;
}
#UNDERINE,
.underline,
article > h1,
.emergency > h4
{
    width: min-content;
    margin-bottom: 3%;
    white-space: nowrap;
    border-bottom: 2px solid currentColor;
}
#TEXTINDENT,
.textIndent,
article > p
{
    text-indent: 2em;
}
#NOINDENT,
.noIndent
{
    text-indent: 0px;
}
#NODECORATION,
.noDecoration,
.linkHome:hover
{
    text-decoration: none;
}
#LGFONT,
.lgFont,
.headertext1,
.headertext3
{
    font-size: 1.5em;
}
#XLFONT,
.xlFont,
.headertext2
{
    font-size: 2em;
}
#BLACKBORDER,
.blackBorder,
.content,
header,
footer
{
    border: 3px solid black; 
}
#GREYBACKGROUND,
.greyBackground,
header,
footer
{
    background-color: rgb(28, 28, 28);
}
#IMAGESHADOW
.imageShadow,
.mcpdlogo,
.mclogo2,
.mclogo
{
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}
#TEXTSHADOWLIGHT,
.textShadowLight,
article > h4,
article > h1,
article > p
{
    text-shadow: 1px 1px 1px black;
}
#TEXTSHADOWDARK,
.textShadowDark,
header
{
    text-shadow: 5px 5px 5px black;
}
#FULLWIDTH,
.fullWidth,
.content,
header
{
    width: 100%;
}
#WIDE,
.wide,
input[type="date"],
input[type="text"]
{
    width: 80%
 }
#BOLDTXTLT,
.boldTxtLt,
.headertext1,
.headertext3,
input[type="submit"],
article > h1,
h4
{
    font-weight: 600;
}
#BOLDTXTHV,
.boldTxtHv,
.headertext2
{
    font-weight: 800;
}
#FLEX,
.flex,
header,
footer,
.titleText,
.container,
.checkList,
.headerLeft,
.content,
.escort,
.complaintForm,
.formRow,
.radioRow,
.submitRow
{
    display: flex;
}
#FLEXROW,
.flexRow,
.container,
.checkList,
.headerLeft,
.formRow,
.submitRow,
header
{
    flex-direction: row;
}
#FLEXCOL,
.flexCol,
.titleText,
.content,
.complaintForm,
.radioRow,
footer
{
    flex-direction: column;
}
#JUSTIFYLEFT,
.justifyLeft,
.checkList,
.radioRow
{
    justify-content: left;
}
#JUSTIFYEVEN,
.justifyEven,
.content,
.submitRow
{
    justify-content: space-evenly;
}
#JUSTIFYBETWEEN,
.justifyBetween,
.formRow,
header
{
    justify-content: space-between;
}
#JUSTIFYCENTER,
.justifyCenter,
.container,
.titleText,
footer
{
    justify-content: center;
}
#JUSTIFYSSTART,
.justifySStart,
h4
{
    justify-self: flex-start;
}
#ALIGNITEMSBASE,
.alignItemsBase,
.formRow,
.radioRow
{
    align-items: baseline;
}
#ALIGNITEMSCENTER,
.alignItemsCenter,
header,
footer
{
    align-items: center;
}
#FLEXWRAP,
.flexWrap,
.formRow,
.radioRow,
.submitRow,
.container,
.checkList,
.complaintForm
{
    flex-wrap: wrap;
}
#HPADDING,
.hPadding,
header
{
    padding: 0 8%;
}
#VPADDING,
.vPadding,
footer
{
    padding: 5% 0;
}
#VERTICALMARGIN,
.verticalMargin,
.mclogo,
.mclogo2,
.copyright,
.radioRow,
.content > *,
input[type="text"],
textarea
{
    margin: 0.75em 0;
}
#RIGHTMARGIN,
.rightMargin,
input[type="checkbox"],
input[type="radio"]
{
    margin-right: .75em;
}
#LEFTMARGIN,
.leftMargin,
.checkList
{
    margin-left: 2em;
}
#VALIGNBASE,
.vAlignBase,
input[type="submit"]
{
    vertical-align: baseline;
}
#NARROWCONTENT,
.narrowContent,
.content{
    max-width: 500px;
}
#WIDECONTENt,
.wideContent,
.complaintForm
{
    max-width: 1100px;
}
#MCPDLOGO,
.mcpdlogo
{
    width: 150px;
}
#MCLOGO,
.mclogo,
.mclogo2
{
    width: 250px;
}
body{
    background-color: #0d1431;
    font-family: "Texta-Regular",Helvetica,Arial,sans-serif;
}
hr{
    height: 1px;
    background-color: white;
}
article{
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 18px;
}
.container{
    padding-top: 1%;
    margin-bottom: 5%;
}
.checkItem{
    white-space: nowrap;
    width: 10em;
}
.content{
    height: min-content;
    border-radius: 1em;
    padding: 2%;
    margin: 1%;
    text-align: center;
    background-color: lightgrey;
    box-shadow: 5px 5px 5px black;
}
.submitRow > .btn{
    width: 60%;
    font-size: .6em;
    margin-top: 1em;
    box-shadow: 2px 2px 4px grey;
}
.input-group-text{
    width: 111px;
}